<div class="container-fluid">
  <router-outlet></router-outlet>
  <div class="row">
      <div class="col">
        <h1 class="headline_large_font">Fabian Villasenor</h1>
      </div>
  </div>
  <div class="row">
    <div class="col sidenav_links">
      <h1 class=""><a target="_" href=""> Projects </a></h1>
      <h1 class=""><a target="_" href="http://www.github.com/EndingNever"> Github </a></h1>
      <h1 class=""><a target="_" href="https://www.linkedin.com/in/fabianvillasenor/"> LinkedIn </a></h1>
    </div>
  </div>
  <div class="row homepage_writeup">
    <div class="col">
      <h3>This is my personal website Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, suscipit mollitia. Molestias ullam nostrum ratione provident doloribus, id ut esse commodi eveniet doloremque reiciendis ducimus nihil nemo, veniam suscipit blanditiis est quaerat deserunt repellendus, dicta architecto? Explicabo consectetur aperiam veniam.</h3>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col">
      <app-projects></app-projects>
    </div>
  </div> -->
</div>